# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# R
.Rhistory
.RData
.Rproj.user/
.Rbuildignore

# Quarto
_site/
*.qmd
*.ipynb

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
.zed/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/
